<div class="empty">
    <div class="empty-icon-wrapper">
        <div class="empty-icon">
            <i class="fa fa-question"></i>
        </div><!-- /.empty-icon -->
    </div><!-- /.empty-icon-wrapper -->

    <h4>{{ 'No results found'|trans }}</h4>
    <p>{{ 'Sorry about that, but there there are no results for your query.' }}</p>

    <a href="{{ path('homepage') }}" class="btn btn-primary">{{ 'Back to homepage'|trans }}</a>
</div><!-- /.empty -->