.page-wrapper {
  @include media-breakpoint-up(sm) {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    width: 100%;

    > .container {
      flex-grow: 1;
    }
  }

  @include media-breakpoint-up(xs) {
    overflow-x: hidden;
    width: 100%;
  }
}