$color-background: #F4F8F9;

$color-black: #424242;
$color-black-dark: #212121;
$color-black-medium: #3f4454;

$color-primary: #6b5fbb;
$color-yellow: #FFD35B;
$color-green: #5BC25E;
$color-red: #de2237;

// Brand colors
$color-facebook: #365397;
$color-twitter: #00a9f1;
$color-google-plus: #e0452c;
$color-youtube: #ff3333;
$color-vimeo: #48b6ed;
$color-pinterest: #ce1a19;
$color-dribbble: #ed4584;
$color-skype: #00acf4;
$color-instagram: #396d9a;
$color-tumblr: #304c68;
$color-linkedin: #287bbc;
$color-tripadvisor: #589442;
$color-foursquare: #F84777;
$color-behance: #1769ff;